body{
    font-family:ariel;
}
body, h1, h4{
    margin:0;
    padding:0;
}
header{
    z-index: 1;
    background-color:whitesmoke;
    padding: 10px;
    text-align:center;
    position: fixed;
    width:100%
    
}
header h1{
    font-size:50px;
    color:rgb(91, 88, 88);
    padding: 5px 11px;
    display: inline-block;
}
header h4{
    color: rgb(184, 174, 174);
    text-align: center;
    padding: 8px 11px;
    display:inline-block;
    border-radius: 20px;
    font-size: 23px;
    border: 6px solid rgb(184, 174, 174);
}
.banner{
    position:relative;
}
.banner img{
   max-width: 100%;
   padding-top: 148px;
}
ul li{
    font-size: 23px;
    text-align:center;
    padding: 30px;
    margin: 20x;
    border: 4px solid maroon;
    border-radius: 200px;
    background-color: rgb(243, 243, 230);
    color: maroon;
}
.article{
    font-size: 54px;
    color: rgb(91, 88, 88);
    text-align: center;

}
.book{
    line-height: 2em;
    font-size:23px;
    text-align: center;
    padding: 40px;
    margin: 20px;
}
h2{
    font-size: 40px;
    color: darkred;
    text-align: center;
}
.story{
    font-size: 23px;
    text-align: center;
    width: 1150px;
}
.life{
    margin: 0 auto;
  padding: 10px;
  width: 1150px;
  border: 2px solid darkred;
}
.more{
    font-size: 20px;
    color: darkred;
    text-align: center;
    margin: 10px;
    padding: 30px;
}


